### 11/11, seed-emsenbleで制度どうなる？

In [52]:
import pandas as pd

In [53]:
use_model_runids = [
    "roberta-large_cat4_batch4_acc8_seed0",
    "roberta-large_cat4_batch4_acc8_seed1",
    "roberta-large_cat4_batch4_acc8_seed2",
    "roberta-large_cat4_batch4_acc8_seed3",
    "roberta-large_cat4_batch4_acc8_seed4",
    "roberta-large_cat4_batch4_acc8_seed5",
    "roberta-large_cat4_batch4_acc8_seed6",
    "roberta-large_cat4_batch4_acc8_seed7",
    "roberta-large_cat4_batch4_acc8_seed8",
    "roberta-large_cat4_batch4_acc8_seed9",
]

In [54]:
from glob import glob
from config import *

dfs = []
for run_id in use_model_runids:
    dfs.append(pd.read_feather(f"{output_root}/{run_id}/test_df_None.feather").loc[:, ["model_oof_class_1"]])

In [55]:
df = pd.concat(dfs, axis=1).mean(axis=1)

In [56]:
df = pd.concat([t.loc[:, "id"], df], axis=1).rename(columns={0: "label"})

In [57]:
df

             id     label
0     001026808  0.001862
1     00465ac96  0.487375
2     004674725  0.002258
3     00474460f  0.004233
4     004a7525c  0.002730
...         ...       ...
3218  ffc4647ac  0.004198
3219  ffc6554ba  0.044557
3220  ffd3b29c2  0.005705
3221  ffd3c69b6  0.289687
3222  fff5802e5  0.002883

[3223 rows x 2 columns]

In [58]:
df["label"] = df["label"].map(lambda x: 1 if x > 0.5 else 0)

In [59]:
df

             id  label
0     001026808      0
1     00465ac96      0
2     004674725      0
3     00474460f      0
4     004a7525c      0
...         ...    ...
3218  ffc4647ac      0
3219  ffc6554ba      0
3220  ffd3b29c2      0
3221  ffd3c69b6      0
3222  fff5802e5      0

[3223 rows x 2 columns]